{% extends 'layouts/index.html' %}

{% load static %}

{% block style %}
	<style type="text/css" media="screen">
		h3{
			margin: 0;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:80px;">
		<div class="row">
			<div class="col-md-2">
				<img src="{% static object.profileuser.get_foto %}" class="img-responsive">
			</div>
			<div class="col-md-10">
				<h1>
					{{ object.profileuser.get_full_name }}
					{% if request.user.is_superuser or request.user == object or request.user.groups.all.0.name == 'entrenador' %}
						<a href="{% url 'edit-name-user' object.pk %}" class="btn btn-default open-modal" data-toggle="modal" data-target="#Modal">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
					{% endif %}
				</h1>
				<h3>Perfil <b>{{ object.groups.all.0 }}</b></h3>
				<h3>Email <b>{{ object.username }}</b></h3>
				<h3>Peso <b>{{ object.profileuser.peso }}kg</b></h3>
				<h3>Estatura <b>{{ object.profileuser.estatura }}</b></h3>
				{% if request.user.is_superuser or request.user == object or request.user.groups.all.0.name == 'entrenador' %}
					<a href="{% url 'edit-profile-user' object.pk %}" class="btn btn-success open-modal" data-toggle="modal" data-target="#Modal">Editar datos</a>
				{% endif %}
			</div>
			<div class="col-md-12">
				<h3>Descripción</h3>
				<p>{{ object.profileuser.descripcion_persona }}</p>
				{% if object.groups.all.0.name == 'entrenador' %}
					{% include 'elements/content-entrenador.html' %}
				{% elif object.groups.all.0.name == 'deportista' %}
					{% include 'elements/content-deportista.html' %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}