{% extends 'layouts/index.html' %}

{% block content %}
	<div class="container" style="margin-top: 50px;">
		<p>Las modalidades se dividen en cuatro categorías:</p>
		<ul>
			<li><b>Hip Hop:</b> Estilo de música de baile, se caracteriza por su base electrónica y por estar asociado a manifestaciones alternativas como el break dance, dance hall, wacking, entre otras.</li>
			<li><b>Cheer:</b> Es la modalidad más conocida en el mundo del porrismo o de baile, ya que este en otros países es catalogado como un deporte, se diferencia por su animación, porra, pirámides, saltos gimnasia, acrobacia y baile.</li>
			<li><b>Poms:</b> Un baile que usa de herramienta unos pompones  para animar, incluye saltos, gimnasia, acrobacia, ballet y baile.</li>
			<li><b>Jazz:</b> Estilo musical, cuyas canciones son de carácter principalmente instrumental y la modalidad es una rutina de ballet.</li>
		</ul>
		<p>Dentro de los niveles se encuentra una clasificación por rangos de edades, los cuales pueden cambiar de nombre en diferentes campeonatos y modalidades:</p>
		<li><b>Pewee:</b> De 4 a 6 años</li>
		<li><b>Pre infantil:</b> 7 a 10 años</li>
		<li><b>Infantil:</b> 11 a 13 años</li>
		<li><b>Junior:</b> 14 a 16 años</li>
		<li><b>Juvenil:</b> 17 a 18 años</li>
		<li><b>Elite:</b> 19 en Adelante</li>
{% endblock %}